numpy==1.19.0
opencv-contrib-python==4.5.4.60
opencv-python-headless==4.5.4.60
tqdm==4.19.9
nibabel==2.5.0
torch==1.8.1
unet==0.7.3
matplotlib==3.3.3
IPython==7.9.0
comet_ml==3.2.1
torchio==0.18.23
jupyter
jupyterlab
sklearn
seaborn
nilearn
pandas
jupyter_contrib_nbextensions
scipy
torchvision
pyYAML
easydict
k3d
msgpack
black
pydantic
ninja
open3d
connected-components-3d
typing
isort
